<!-- HTML: /views/paper.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <h2>We played paper!</h2>
    <h2>They played <%=@computer %>!<h2>

    <% if @computer == "rock" %>
      <h2>We won!</h2>
    <% elsif @computer == "paper" %>
      <h2>We tied!</h2>
    <% else %>
      <h2>We lost!</h2>
    <% end %>

    <div><a href="/">Rules</a></div>
  </body>
</html>
